@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* eric reset end */

body {
	font-family: "Noto Sans TC", sans-serif;
	letter-spacing: 0.1em;
}

img {
	display: block;
	width: 100%;
	/*svg預設寬度100%，其他圖檔預設為原檔案尺寸*/
}

a {
	display: block;
	/* color: #777;針對每個檔案做調整 */
	text-decoration: none;
	/*取消預設底線裝飾*/
}

button {
	border: none;
}

/* test */
:root {
	--gradient: linear-gradient(120deg, rgba(164, 213, 190, .3) 30%, rgba(164, 213, 190, 0) 60%),
		linear-gradient(210deg, rgba(137, 209, 239, .3) 30%, rgba(137, 209, 239, 0) 60%),
		linear-gradient(340deg, rgba(238, 179, 208, .3) 30%, rgba(238, 179, 208, 0) 60%);
}

/* 文字CSS */
/* 內文(黑體) */
.ch-sans-light-s {
	font-weight: 300;
	line-height: 190%;
	color: #000;
	font-size: 14px;
}

.ch-sans-light-m {
	font-weight: 300;
	line-height: 190%;
	color: #000;
	font-size: 16px;
}

.ch-sans-thin-l {
	/*葉形按鈕*/
	font-weight: 100;
	line-height: 100%;
	color: #000;
	font-size: 20px;
}

.ch-sans-thin-xl {
	font-weight: 100;
	line-height: 100%;
	color: #000;
	font-size: 24px;
}

.en-sans-light-s {
	font-weight: 100;
	line-height: 100%;
	color: #666;
	font-size: 12px;
}

.en-sans-light-m {
	font-weight: 100;
	line-height: 100%;
	color: #666;
	font-size: 14px;
}

.en-sans-light-l {
	font-weight: 100;
	line-height: 100%;
	color: #666;
	font-size: 20px;
}

.en-sans-light-xl {
	font-weight: 100;
	line-height: 100%;
	color: #666;
	font-size: 24px;
}


/* 標題(明體) */
.serif-medium-footer {
	font-family: "Noto Serif TC", serif;
	font-weight: 500;
	line-height: 100%;
	color: #666;
	font-size: 20px;
}

.serif-medium-s {
	font-family: "Noto Serif TC", serif;
	font-weight: 500;
	line-height: 100%;
	color: #666;
	font-size: 24px;
}

.serif-medium-m {
	font-family: "Noto Serif TC", serif;
	font-weight: 500;
	line-height: 150%;
	color: #666;
	font-size: 32px;
}

.serif-medium-l {
	font-family: "Noto Serif TC", serif;
	font-weight: 500;
	line-height: 150%;
	color: #666;
	font-size: 44px;
}

.serif-medium-xl {
	font-family: "Noto Serif TC", serif;
	font-weight: 500;
	line-height: 140%;
	color: #666;
	font-size: 64px;
}

.serif-medium-xxl {
	font-family: "Noto Serif TC", serif;
	font-weight: 500;
	line-height: 120%;
	color: #666;
	font-size: 72px;
}

/* container */
/* .container {
	display: flex;
	flex-direction: column;
	align-items: center;
} */

/* 封面 */
#cover {
	display: flex;
	justify-content: space-between;

	margin-left: 72px;
	margin-right: 144px;
}

.cover-logo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 20%;
}

/* LOGO */
.cover-logo img {
	margin-top: 5vw;
	width: 15vw;
}

.cover-logo div {
	position: relative;
	margin-bottom: 50px;
}

/* 裝飾線 */
.cover-logo div span {
	margin-top: 15%;
	display: block;
	height: 1.5%;
	width: 55%;
	background-color: #666;
}

/* 漸層色塊 */
.cover-logo div img {
	position: absolute;
	z-index: -1;
	bottom: -90px;
	left: -90px;
}

.cover-logo div p {
	font-size: 1vw;
}

.cover-banner {
	width: 65vw;
	height: 50vw;
	/* background-color: #666	; */
	background-image: url(./img/3D-1.png);
	background-size: cover;
	border-radius: 0 0 0 999px;

	position: relative;
}

.overlay {
	width: 65vw;
	height: 50vw;
	border-radius: 0 0 0 999px;
	background-size: cover;
	background: var(--gradient);
	mix-blend-mode: overlay;
}

.cover-quotes {
	display: flex;
	align-items: flex-start;

	position: absolute;
	right: -4vw;
	top: 10vw;
}

.cover-quotes img {
	width: 3vw;
	margin-right: 2vw;
}

.cover-quotes p {
	width: 16vw;
	font-size: 1vw;
}

/* 介紹文字 */
#introduce {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	margin: 0 144px;
	padding: 0 0 6vw 0;
	/* width: 100%; */
	

	background-image: url(./img/gradient_bg.png);
	background-size: cover;
	border-radius: 999px 0 170px 0;
}


#introduce h1 {
	margin: 65px 0;
}

#introduce .left .bottom {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#introduce span {
	display: block;
	width: 185px;
	height: 0.5px;
	background-color: #666;
}

#introduce p {
	width: 385px;
	margin-top: 65px;
}

#introduce .right button {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 270px;
	height: 70px;

	background-color: #fff;
	border-radius: 99px 0 99px 0;
}

#introduce .right img{
	width: 60px;
}

#introduce .right{
	margin-right: 10vw;
}